*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container{
    position: relative;
    background: #000;
    width: 100%;
    min-height:100vh ;
    overflow: hidden;
}
a{

    text-decoration: none;
}
.logo{
    width: 45px;
    margin:18px 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
@media (max-width:767px) {
header ul {
    width: 70%;
    margin: 0;
    /* word-wrap: normal; */
    display: flex;
    flex-wrap: nowrap;
}
}
ul li{
    list-style: none;
    display: inline-block;
    margin: 0 16px;
}
ul li a{
    color: #fff;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
@media (max-width:767px) {
    .icons{
        display: flex;
    }
}
.content .txt {
    width: 40%;
    color: #fff;
}
.content .txt h2{
    font-size: 40px;
    text-transform: uppercase;
}
.content .txt p{
    color: #ccc;
    line-height: 1.6;
    font-size: 18px;
    /* margin: 30px 0 0; */
    margin: 30px 0 60px;
}
.content .main-img{
    width: 30%;
}
.content .main-img img{
    width: 190px;
}
.content .txt a{
    color: #000;
    background-color: #fff;
    padding: 7px 16px;
    border-radius: 12px;
    font-size: 22px;
}
.content .txt a:hover{
    background-color: #f2f1f3;
}
.icons{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.icons img{
    width: 50px;
    margin: 0 8px;
    transition: 0.3s;
}
.icons img:hover{
    scale: 1.3;
}